.productPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.wrapper_img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.product_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title {
    font-size: 28px;
  }
  .images {
    display: flex;
    gap: 24px;
    img {
      width: 80px;
      height: 80px;
    }
  }
  .description {
    font-size: 18px;
  }
  .price {
    display: flex;
    gap: 20px;
    font-size: 24px;
    color: red;
  }
}

.info_item {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1300px) {
  .wrapper_img {
    width: 80%;
  }
}
@media (max-width: 768px) {
   .wrapper_img {
    height: 80%;
  }
  .product_info {
  gap: 10px;
    .title {
      font-size: 15px;
    }
    .images {
     display: none;
      }
    }
    .description {
      font-size: 13px;
    }
    .price {
      display: flex;
      gap: 20px;
      font-size: 13px;
      color: red;
    }
  

}
