.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
  opacity: 0;
 
  padding: 18px 28px;
  border-radius: 10px;
  background: #1e1e1e;
  color: #fff;
  animation: toastIn 0.4s ease-out forwards;
}

@keyframes toastIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}