.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main_page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 40px;
}
@media (max-width: 650px) {
  .main_page {
    grid-template-columns: repeat(1, 1fr);
  }
}
