@keyframes shimmer {
  0% { background-position: -300px 0; }
  100% { background-position: 300px 0; }
}
.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 37%, #e0e0e0 63%);
  background-size: 300px 100%;
  animation: shimmer 1.2s infinite linear;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(224, 224, 224, 0.5);
}
.productPage {
   width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.wrapper_img {
  width: 90%;
  height: 100%;
   @extend .skeleton;
}
.product_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .info_item{
    height: 30px;
  }
  .title {
    height: 42px;
     @extend .skeleton;
  }
  .images {
    display: flex;
    gap: 24px;
    span {
      width: 80px;
      height: 80px;
      @extend .skeleton;
    }
  }
  .description {
    height: 81px;
     @extend .skeleton;
  }
  .price {
      width: 25%;
      height: 36px;
      @extend .skeleton;
  }
}
.info_item {
   width: 35%;
   height: 30px;
    @extend .skeleton;
}
