.cart_product{
   display: flex;
   justify-content: space-between;
   gap: 20px;
   background-color: #c7c0c05b; 
   padding: 30px 40px;
   border-radius: 20px;
}
.cart_product_name{
   display: flex;
  gap: 20px;
  flex-grow: 1;
  min-width: 0;
   .wrapper_image{
      width: 100px;
      aspect-ratio: 1/1;
         img{
            width: 100%;
            height: 100%;
            object-fit: contain;
         }
   }
   .cart_title{
      height: 46px;
      overflow: hidden;
   }
}
.wrapper_button{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
   button{
      height: 20px;
      display: flex;
       align-items: center;
   }
   p{
      font-size: 20px;
      margin: 0;
   }
}
.wrapper_price{
   max-width: 150px;
   width: 100%;
   display: flex;
   align-items: center;
   gap: 10px;
   p{
      color: red;
      font-size: 20px;
      margin: 0;
   }
}
@media (max-width: 1100px) {
  .cart_product{
   padding: 30px 20px;
   }  
}
@media (max-width: 700px) {
  .cart_product{
   gap: 10px;
   padding: 10px;
}
.cart_product_name{
   width: 30%;
   gap: 5px;
}
.cart_title{
   font-size: 14px;
}
.wrapper_button p{
   font-size: 14px;
}
.wrapper_price p{
   font-size: 14px;;
} 
}
@media (max-width: 580px) {
   .wrapper_button{
      flex-direction: column-reverse;
   }
   .wrapper_image{
      display: none;
   }
   .wrapper_price{
      max-width: 100px;
   }
}
@media (max-width: 400px) {
   .wrapper_button{
      flex-direction: column-reverse;
   }
   .wrapper_image{
      display: none;
   }
  button{
   padding: px;
  }
}