.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main_page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.pagination {
  width: 100%;
  display: flex;
}
@media (max-width: 1300px) {
  .main_page {
    grid-template-columns: repeat(3, 1fr);
  } 
}
@media (max-width: 950px) {
  .main_page {
    grid-template-columns: repeat(2, 1fr);
  } 
}
@media (max-width: 700px) {
  .main_page {
    grid-template-columns: repeat(1, 1fr);
  } 
}