.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  text-decoration: none;
  min-width: 0;
  .product_link{
    position: relative;
  }
  .product_link:hover .product_hint {
    opacity: 1;
    
  }
  .product_hint{
    position: absolute;
    width: 80%;
    height: 15%;
    left: 10%;
    bottom: 10%;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ea0909f7;
    background-color: #ffffffd7;
    opacity: 0;
    transition: all 0.3s;
  }
  .product_image {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .title {
    height: 50px;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 6px;
    font-weight: 600;
    overflow: hidden;
  }
  .wrapper_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:19px ;
  }
  .price {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    color: red;
    margin-bottom: 6px;
  }
  .description {
    height: 197px;
    overflow: hidden;
  }
}

.rotate {
  animation: spin 0.5s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  padding: 15px 30px;
  border: none;
  background-color: #3cb950;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
}
@media (max-width: 1300px) {
   button{
      padding: 15px 10px;
  }
}