 .wrapper_button{
   width: 100%;
   height: 62px;
   padding: 15px 30px;
   border: none;
   background-color: #3cb950;
   color: #fff;
   border-radius: 20px;
   cursor: pointer;
   &:hover{
      box-shadow: 0px 0px 11px 1px #9d4324;
   }
}
.button_text{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}
.button_count{
   display: flex;
   justify-content: space-between;
   align-items: center;
   button{
      padding:0;
   }
}