.header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 5;
  background-color: #fff;
  padding-bottom: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
