.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 230px 20px 40px;
  display: flex;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .main {
    padding: 70px 20px 40px;
  }
}
