@keyframes shimmer {
  0% { background-position: -300px 0; }
  100% { background-position: 300px 0; }
}

.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 37%, #e0e0e0 63%);
  background-size: 300px 100%;
  animation: shimmer 1.2s infinite linear;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(224, 224, 224, 0.5);
}

.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

}
.sort_controls{
  height: 27px;
  max-width: 30%;
  width: 100%;
  @extend .skeleton;
}
.main_page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card{
  width: 100%;
  aspect-ratio: 1/1.5;
  @extend .skeleton;
}
.pagination{
  width: 25%;
  height: 36px;
  margin: 0 auto;
  @extend .skeleton;
}