.empty_state {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  h2 {
    font-size: 30px;
    font-weight: 600;
  }
  p {
    font-size: 20px;
    margin: 0;
  }
 
  button:hover{
    opacity: 0.7;
  }
}
@media (max-width: 768px) {
  .empty_state  h2{
     font-size: 20px;
     text-align: center;
   }
   .empty_state  p {
     font-size: 15px;
     text-align: center;
   }
}
