.header {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 77px);
  background: #000000ca;
  z-index: 5;
  animation: fadeIn 0.25s ease;
  justify-content: space-between;
  padding: 40px;
}
.header_nav{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.header_navItem,
.header_authBtn{
  display: inline-block;
  font-size: 24px;
  line-height: 27px;
  color: #ffffffb7;
  background-color: #4f4e4eca;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ffffffa1;
}
.header_auth{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@keyframes fadeIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .header{
     display: flex;
  }
}
@media (max-width: 560px) {
  .header{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
