.error {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 20px;
  color: #b00020;
}

.retryButton {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s all;
}

.retryButton:hover {
  background-color: #555;
}
